.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background-color: #f0f0f0; /* Цвет фона */
  --text-color: #282c34; /* Цвет текста */
}

.dark-theme {
  --background-color: #282c34; /* Цвет фона для темной темы */
  --text-color: #f0f0f0; /* Цвет текста для темной темы */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color); /* Используйте переменную для фона */
  color: var(--text-color); /* Используйте переменную для текста */
}


/* Медиа-запросы для адаптивности */
/* Мобильные телефоны */
@media (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
  .App-logo {
    height: 30vmin;
  }
  /* Здесь можно добавить дополнительные стили для мобильных устройств */
}

/* Планшеты */
@media (min-width: 601px) and (max-width: 1024px) {
  .App-header {
    font-size: calc(9px + 2vmin);
  }
  .App-logo {
    height: 35vmin;
  }
  /* Здесь можно добавить дополнительные стили для планшетов */
}

/* Настольные компьютеры и ноутбуки */
@media (min-width: 1025px) {
  .App-header {
    font-size: calc(10px + 2vmin);
  }
  .App-logo {
    height: 40vmin;
  }
  /* Здесь можно добавить дополнительные стили для настольных компьютеров */
}