.home-container {
    padding: 0px;
  }
  
  .title {
    color: #333;
    font-weight: bold;
  }
  
  .description {
    margin-top: 0px;
    color: #666;
  }
  
  .explore-button {
    margin-top: 30px;
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
  }
  
  .home-image {
    display: flex;
    justify-content: center;
  }
  
  .house-icon {
    width: 80%;
    max-width: 400px;
    height: auto;
  }
  
  .about-section {
    margin-top: 60px;
  }
  
  .about-title {
    color: #333;
    font-weight: bold;
  }
  
  .about-description {
    margin-top: 20px;
    color: #666;
  }
  
