.container {
    max-width: 800px;
    margin: 0px auto 40px;
    
  }
  
  .heading {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .property-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .label {
    font-weight: bold;
    margin-left: 8px;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .description {
    margin-bottom: 30px;
  }
  
  .gallery-container {
    margin-top: 20px;
  }
  
  .fullscreen-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .fullscreen-photo img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }