.container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.paper {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.property-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #666;
}

.label {
  font-weight: bold;
  margin-left: 8px;
}

.icon {
  font-size: 22px;
  color: #333;
}

.description {
  margin-bottom: 20px;
  color: #444;
}

.report-box {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.fullscreen-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-photo img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border: 2px solid #fff;
}

.image-gallery-icon:hover {
  background-color: transparent !important;
}

/* Override the hover state of the fullscreen button */
.image-gallery-fullscreen-button:hover {
  background-color: transparent !important;
}

/* Override the hover state of the play button */
.image-gallery-play-button:hover {
  color:#ffffff;
  background-color: transparent !important;
}