.report-list {
    margin-top: 20px;
  }
  
  .report-list h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .report-list ul {
    list-style: none;
    padding: 0;
  }
  
  .report-list li {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .report-list li div {
    display: flex;
    flex-direction: column;
  }
  
  .report-list button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .report-list button:hover {
    background-color: #d32f2f;
  }
  